appname = validator-monitor
httpport = 8080
runmode = dev
interval = 10

[validator]
address = "9B7FC4388E6A2DCC6DC45984F9B3316FC6CF79F6"

[node]
address = "127.0.0.1:26657"

[email]
host = smtp.ym.163.com:25
user = jira@wancloud.io
password = yourpassword
from = gaia-9001

[sms]
#user = 70522:admin
#password = 62217193

[receiptor]
email = "dumanxiang@qq.com;dumanxiang@gmail.com"
#mobile = "18502120532,17317916768"


[client-rest-server]
address  = "http://127.0.0.1:1317"

[baseflags]
name = "node1"
password = "12345678"
chaindid = "test-chain-Y3jjoN"

[gov]
voter = "cosmos1cen8ry9qhrzkw838zukz83fxgpw7lrd2597pll"
