appname = validator-monitor
httpport = 8080
runmode = dev
#隔多久时间查询一次指定验证者是否还在验证集合中
interval = 10 

[log]
#debug/info/warning/error
level = info

[missblock]
#主动查询的时间间隔，单位：秒
interval = 2
#连续几个块会触发报警
miss = 3
size = 10

[validator]
address = "9B7FC4388E6A2DCC6DC45984F9B3316FC6CF79F6"

[node]
address = "127.0.0.1:26657"

[email]
host = smtp.ym.163.com:25
user = jira@wancloud.io
password = yourpassword
#标示告警来自于哪些项目
project = gaia-9001
to = "dumanxiang@qq.com;dumanxiang@gmail.com"

[sms]
#是否开启短信服务
enable=false
user = 70522:admin
password = 62217193
from = 1
#标示告警来自于哪些项目
project = gaia-9001
to ="18502120532,17317916768"

[client-rest-server]
address  = "https://127.0.0.1:1317"

#调用客户端的公有flag
[baseflags]
name = "node1"
password = "12345678"
chaindid = "test-chain-Y3jjoN"

[gov]
#自动投票的验证者地址,根据gaiacli keys list命令查找
voter = "cosmos1cen8ry9qhrzkw838zukz83fxgpw7lrd2597pll"
autovote = false
# 60*60*24 == one day
delay = 86400
#Yes/No/NoWithVeto/Abstain
option = Yes 